<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiwFood - Registrazione</title>
    <link rel="stylesheet" href="/css/stile.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>
    <header>
        <div class="nav container">
            <a href="/" class="logo">
                <img src="images/logo.png" /></a>
            </a>
            <div class="navbar">
                <a href="/" class="nav-link">Home</a>
                <a href="/ricetta" class="nav-link">Ricette</a>
                <a href="/cuoco" class="nav-link">Cuochi</a>
                <div th:if="${userDetails}">
                    <a href="/ingrediente" class="nav-link">Ingredienti</a>
                </div>
            </div>
            <div class="nav-icons">
                <div th:if="${userDetails}">
                    <a th:text="${userDetails.username}" class="nav-log"></a><br>
                    <a href="/logout" class="nav-link">Logout <i class='bx bx-user'></i></a>
                </div>
                <div th:unless="${userDetails}">
                    <a href="/login" class="nav-link">Login <i class='bx bx-user'></i></a>
                </div>
            </div>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-content container">
            <div class="home-text">
                <h1>Registrazione nuovo utente</h1>
                <form th:action="@{/register}" method="POST" enctype="multipart/form-data" class="login-form">
                    <div class="form-group">
                        <label>Nome</label>
                        <span><input type="text" placeholder="nome" required th:field="${cuoco.nome}" /></span>
                        <span th:if="${#fields.hasErrors('cuoco.nome')}" th:errors="${cuoco.nome}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Cognome</label>
                        <span><input type="text" placeholder="cognome" required th:field="${cuoco.cognome}" /></span>
                        <span th:if="${#fields.hasErrors('cuoco.cognome')}" th:errors="${cuoco.cognome}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <span><input type="text" placeholder="email" required th:field="${cuoco.email}" /></span>
                        <span th:if="${#fields.hasErrors('cuoco.email')}" th:errors="${cuoco.email}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Data di nascita:</label>
                        <span><input type="date" placeholder="dataDiNascita" required th:field="${cuoco.dataDiNascita}" /></span>
                        <span th:if="${#fields.hasErrors('cuoco.dataDiNascita')}" th:errors="${cuoco.dataDiNascita}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Immagine:</label>
                        <span><input type="file" name="image" /></span>
                        <span th:if="${#fields.hasErrors('cuoco.urlImage')}" th:errors="${cuoco.urlImage}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <span><input type="text" placeholder="username" required th:field="${credentials.username}" /></span>
                        <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <span><input type="password" placeholder="password" required th:field="${credentials.password}" /></span>
                        <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
                    </div>
                    <div th:if="${#fields.hasErrors('cuoco.*')}">
                        <p th:each="err : ${#fields.errors('cuoco.*')}" th:text="${err}"></p>
                    </div>
                    <div th:if="${#fields.hasErrors('credentials.*')}">
                        <p th:each="err : ${#fields.errors('credentials.*')}" th:text="${err}"></p>
                    </div>
                    <div class="form-group">
                        <button type="submit">Registra</button>
                    </div>
                </form>
            </div>
            <img src="images/home.png" alt="" class="home-img">
            <img src="images/home-mask.png" alt="" class="home-mask">
        </div>
    </section>
	
	<footer>
	       <p>Contact us: info@siwFood.com</p>
	       <p>Follow us on 
	           <a href="#"><img src="/images/facebookLogo.png" alt="Facebook" /></a>
	           <a href="#"><img src="/images/x_logo.jpeg" alt="Twitter" /></a>
			<a href="#"><img src="/images/instagram-logo.jpeg" alt="Instagram"/></a>
		</p>
	</footer>
</body>

</html>
