<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SiwFood - Ricetta</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>
<body>
	<header>
		<div class="nav container">
			<a href="/" class="logo">
				<img src="/images/logo.png" />
			</a>
			<div class="navbar">
				<a href="/" class="nav-link">Home</a>
				<a href="/ricetta" class="nav-link">Ricette</a>
				<a href="/cuoco" class="nav-link">Cuochi</a>
			</div>
			<div class="nav-icons">
				<div th:if="${userDetails}">
					<a th:text="${userDetails.username}" class="nav-log"></a><br>
					<a href="/logout" class="nav-link">Logout <i class='bx bx-user'></i></a>
				</div>
				<div th:unless="${userDetails}">
					<a href="/login" class="nav-link">Login <i class='bx bx-user'></i></a>
				</div>
			</div>
	</header>
	<section class="home" id="home">
		<div class="home-content container">
			<div class="home-text">
				<div th:if="${ricetta}">
					<h1 th:text="${ricetta.nome}">Carbonara</h1>
					<div th:if="${ricetta.cuoco}">
						<p>Ricetta di
							<a th:href="@{'/cuoco' + '/' + ${ricetta.cuoco.id}}"
								th:text="${ricetta.cuoco.nome} + ' ' + ${ricetta.cuoco.cognome}" class="nav-link"></a>
						</p>
					</div>
					<p><span><img class="ricetta-img" th:src=${ricetta.urlImage} /></span></p>
					<p><span th:text="${ricetta.descrizione}">Piatto della cucina romana</span></p>
					<h2>Ingredienti</h2>
					<div th:if="${ricetta.ingredienti==null || ricetta.ingredienti.isEmpty()}">Non ci sono ingredienti</div>
					<ul>
						<li th:each="ingrediente : ${ricetta.ingredienti}">
							<span th:text="${ingrediente.nome} + ' (' + ${ingrediente.quantita} + ')'">Pecorino romano (50 g)</span>
						</li>
					</ul>
				</div>
				<div th:unless="${ricetta}">Non esiste</div>
			</div>
			<img src="/images/home.png" class="home-img">
			<img src="/images/home-mask.png" alt="" class="home-mask">
		</div>
	</section>
	
	<footer>
	       <p>Contact us: info@siwFood.com</p>
	       <p>Follow us on 
	           <a href="#"><img src="/images/facebookLogo.png" alt="Facebook" /></a>
	           <a href="#"><img src="/images/x_logo.jpeg" alt="Twitter" /></a>
			<a href="#"><img src="/images/instagram-logo.jpeg" alt="Instagram"/></a>
		</p>
	</footer>
</body>
</html>
